@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  padding-left: 70px;
  padding-right: 70px;
}

.page-header-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation-logo {
  width: 138px;
  height: 68px;
  margin-right: 30px;
  margin-bottom: -6px;

  transition: opacity 0.3s ease;
}


.navigation-logo:hover {
  opacity: 0.7;
}

.navigation-logo:focus-visible {
  opacity: 0.7;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current,
.navigation-link-current:hover,
.navigation-link-current:focus-visible,
.navigation-link-current:active {
  color: #000000;
  cursor: default;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  justify-content: flex-start;

  max-width: 88px;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  fill: #000000;
  transition: fill 0.3s ease;
}

.navigation-link:hover .navigation-icon {
  fill: #756157;
}

.navigation-link:focus-visible .navigation-icon {
  fill: #756157;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.notification-badge {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 11px;
  left: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #7db54f;
  border-radius: 100vh;
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  word-break: break-all;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover,
.button:focus-visible {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button:disabled,
.button.disabled,
.button:disabled:hover,
.button.disabled:hover,
.button:disabled:focus-visible,
.button.disabled:focus-visible,
.button:disabled:active,
.button.disabled:active {
  background-color: #e5e5e5;
  cursor: default;
  pointer-events: none;
}

.header-button {
  max-width: 160px;
  padding: 8px 34px;
  font-size: 16px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-color: #e6f0f6;
  background-image:
    url("../images/svg/collar.svg"),
    url("../images/background/index-background.jpg ");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  align-items: center;
}

.lead-top {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-container {
  padding: 69px 70px 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-title::before {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-wide .advantages-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-wide .advantages-title {
  color: #ffffff;
}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 112px 85px;
}

.advantages-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  width: 1200px;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-item-container .advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-three {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-container {
  width: 400px;
  padding: 102px 85px;
}

.advantages-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.infrastructure {
  text-align: center;
}

.services-container {
  padding: 65px 70px 64px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.service-lead-top {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  list-style-type: none;
}

.infrastructure-item {
  width: 400px;
  padding: 183px 85px 81px;
}

.infrastructure-accent {
  background-color: rgba(130, 179, 211, 0.12);
}


.infrastructure-food {
  background-color: #ffffff;
}

.infrastructure-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
}

.infrastructure-description {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.infrastructure-title::before {
  content: "";
  position: absolute;
  left: 50%;
  background-color: transparent;
}

.infrastructure-housing::before {
  top: -102px;
  margin-left: -38px;
  width: 75px;
  height: 72px;
  background-image: url("../images/svg/housing.svg");
  background-repeat: no-repeat;
}

.infrastructure-food::before {
  top: -101px;
  margin-left: -37px;
  width: 74px;
  height: 70px;
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
}

.infrastructure-souvenirs::before {
  top: -104px;
  margin-left: -32px;
  width: 65px;
  height: 76px;
  background-image: url("../images/svg/souvenirs.svg");
  background-repeat: no-repeat;
}

.search {
  text-align: center;
}

.search-container {
  padding: 96px 70px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  max-width: 376px;
  padding: 8px 50px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-theme-custom {
  text-align: center;
  background-color: #756157;
  background-image: url("../images/background/view-mountains.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe {
  text-align: center;
  color: #000000;
}

.subscription-container {
  padding: 96px 70px 104px;
  color: #ffffff;
}

.subscription-container-catalog {
  padding: 96px 70px 104px;
  color: #000000;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 55px;
}

.subscribe-description-item {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 56px;
  color: #333333;
}


.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-name {
  flex-shrink: 0;
  margin: 0;
}

.subscription-form-email {
  width: 452px;
  height: 100%;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscription-form-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscription-form-email:hover {
  background-color: #e6e6e6;
}

.subscription-form-email:disabled {
  background-color: #f2f2f2;
  opacity: 0.3;
}


.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  padding: 8px 50px;
  background-color: #82b3d3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus-visible {
  background-color: #68a2ca;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.subscribe-button:disabled,
.subscribe-button.disabled {
  background-color: #e5e5e5;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 150px;
  list-style-type: none;
}

.footer-social-item {
  margin: 0;
}

.footer-social-link {
  position: relative;

  display: block;
  width: 47px;
  height: 40px;
}

.footer-social-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  fill: #83b3d3;
  transition: fill 0.3s ease;
}

.footer-social-link:hover svg {
  fill: #68a2ca;
}

.footer-social-link:focus-visible svg {
  fill: #68a2ca;
}

.footer-social-link:active svg {
  fill: rgba(104, 163, 202, 0.3);
}

.footer-phone-link {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  max-width: 700px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus-visible {
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-htmlacademy-link {
  position: relative;
  top: 3px;
}

.footer-htmlacademy-link svg {
  fill: #000000;
  transition: fill 0.3s ease;
}

.footer-htmlacademy-link:hover svg {
  fill: #756157;
}

.footer-htmlacademy-link:focus-visible svg {
  fill: #756157;
}

.footer-htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}


/* catalog */

.inner-wrapper {
  background-color: #294c66;
  background-image: url("../images/background/mountains-are-a-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 35px 70px 57px;
}

.inner-content {
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-right: 13px;
  position: relative;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 20px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 15px 5px 0;
}

.breadcrumbs-link-home {
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: left;
  padding: 14px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:hover path {
  opacity: 0.6;
}

.breadcrumbs-link:active,
.breadcrumbs-link:active path {
  opacity: 0.3;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  background-image: url("../images/svg/arrow-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 11px;
  top: 10px;
  right: -3px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  width: 200px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  border: none;
}

.catalog-filter-group:first-child {
  margin-right: 20px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 90px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:first-child) {
  margin-top: 16px;
}

.filter-control {
  max-width: 288px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.filter-title-price {
  margin-bottom: 32px;
}

.control {
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 23px;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  left: 0;
  top: 2px;
}

.control:hover .control-mark,
.control:hover .control-label {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control:has(.control-input[type="checkbox"]:disabled) {
  pointer-events: none;
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/svg/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-label,
.radio-label {
  word-break: break-all;
}


.radio-input {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 0;
  top: 2px;
}

.control-input[type="radio"]:checked + .radio-input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  inset: 0;
  margin: auto;
}

.control:hover .radio-input,
.control:hover .radio-label {
  opacity: 0.6;
}

.control-input[type="radio"]:focus-visible + .radio-input {
  outline: 3px solid #83b3d3;
}

.control:has(.control-input[type="radio"]:disabled) {
  pointer-events: none;
  opacity: 0.3;
}

.slider-wrapper:not(:last-child) {
  margin-bottom: 32px;
}

.filter-wrapper-inputs {
  position: relative;
  width: 288px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.filter-input-box {
  width: 143px;
  height: 48px;
}

.filter-range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.filter-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  top: -8px;
}

.filter-range-toggle-max {
  right: 0;
}

.filter-range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter-range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter-range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.filter-control-input {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
  height: 48px;
  padding-left: 20px;
  padding-right: 40px;
  border: none;
  background-color: #f2f2f2;
  appearance: textfield;
}

.filter-control-input::-webkit-outer-spin-button,
.filter-control-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-control-input-min {
  border-radius: 4px 0 0 4px;
}

.filter-control-input-max {
  border-radius: 0 4px 4px 0;
}

.filter-control-input:hover {
  background-color: #e6e6e6;
}

.filter-control-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.filter-input-placeholder {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-input-placeholder-min {
  display: block;
  width: 30px;
  height: 23px;
  top: -50%;
  transform: translateY(-50%);
  right: 6px;
  margin-left: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-input-placeholder-max {
  display: block;
  width: 35px;
  height: 23px;
  top: -50%;
  transform: translateY(-50%);
  right: 4px;
  margin-left: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-bar {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}


.filter-button-box {
  margin-top: 56px;
  width: 191px;
}

.filter-button-box > button:not(:last-child) {
  margin-bottom: 32px;
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 8px;
  width: 191px;
  background-color: #82b3d3;
}

.apply-button:hover {
  background-color: #68a2ca;
}

.apply-button:focus-visible {
  background-color: #68a2ca;
}

.apply-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.apply-button:disabled,
.apply-button.disabled,
.apply-button:disabled:hover,
.apply-button.disabled:hover,
.apply-button:disabled:focus-visible,
.apply-button.disabled:focus-visible,
.apply-button:disabled:active,
.apply-button.disabled:active {
  color: #ffffff;
  background-color: #e5e5e5;
  pointer-events: none;
}

.clear-button {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}

.clear-button:hover {
  background-color: transparent;
  opacity: 0.6;
}

.clear-button:focus-visible {
  background-color: transparent;
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.clear-button:active {
  background-color: transparent;
  opacity: 0.3;
}

.clear-button:disabled,
.clear-button.disabled,
.clear-button:disabled:hover,
.clear-button.disabled:hover,
.clear-button:disabled:focus-visible,
.clear-button.disabled:focus-visible,
.clear-button:disabled:active,
.clear-button.disabled:active {
  background-color: transparent;
  opacity: 0.1;
  pointer-events: none;
}


.catalog-products {
  display: flex;
  align-items: flex-start;
  padding: 50px 70px 40px;
  margin: 0;
}

.catalog-products-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  max-width: 160px;
  margin-left: 70px;
}

.catalog-products-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  width: 400px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 7px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  padding: 12px 18px;
  width: 292px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/svg/arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  appearance: none;
  outline: none;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:active {
  border: 2px solid #68a2ca;
}

.text-block {
  font-size: 18px;
  line-height: 21px;
}

.color-second {
  color: #333333;
}

.catalog-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-tile-icon {
  background-image: url("../images/svg/points-tile.svg");
}

.catalog-card-icon {
  background-image: url("../images/svg/point-card.svg");
}

.catalog-list-icon {
  background-image: url("../images/svg/points-list.svg");
}

.catalog-tiles svg {
  fill: #000000;
}

.catalog-tiles:hover {
  border-color: #000000;
}

.catalog-tiles:focus-visible {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.catalog-tiles:active {
  border-color: #000000;
}

.catalog-tiles-current {
  border: 2px solid #000000;
}

.catalog {
  padding-left: 70px;
  padding-right: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 19px 20px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 19px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.product-card:has(.product-card-link:focus-visible),
.product-card:has(.button:focus-visible) {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.product-card-link {
  text-decoration: none;
  margin-bottom: 16px;
}

.product-card-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
  object-fit: contain;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}


.product-card-type {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 16px;
}

.card-type {
  width: 140px;
}

.card-price {
  width: 140px;
  font-weight: 400;
  text-align: right;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 17px;
}

.product-button-link {
  width: 140px;
  padding: 8px;
  text-align: center;
}

.product-button-link:disabled,
.product-button-link.disabled,
.product-button-link:disabled:hover,
.product-button-link.disabled:hover,
.product-button-link:disabled:focus-visible,
.product-button-link.disabled:focus-visible,
.product-button-link:disabled:active,
.product-button-link.disabled:active {
  color: #ffffff;
  background-color: #e5e5e5;
  pointer-events: none;
}

.add-favorite-button {
  width: 140px;
  padding: 8px;
  text-align: center;
  background-color: #82b3d3;
}

.add-favorite-button:hover,
.add-favorite-button:focus-visible {
  background-color: #68a2ca;
}

.add-favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.add-favorite-button:disabled,
.add-favorite-button.disabled,
.add-favorite-button:disabled:hover,
.add-favorite-button.disabled:hover,
.add-favorite-button:disabled:focus-visible,
.add-favorite-button.disabled:focus-visible,
.add-favorite-button:disabled:active,
.add-favorite-button.disabled:active {
  color: #ffffff;
  background-color: #e5e5e5;
}

.favorites-checked {
  background-color: #7db54f;
}

.favorites-checked:hover,
.favorites-checked:focus-visible {
  background-color: #6c9e42;
}

.favorites-checked:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.favorites-checked:disabled,
.favorites-checked.disabled,
.favorites-checked:disabled:hover,
.favorites-checked.disabled:hover,
.favorites-checked:disabled:focus-visible,
.favorites-checked.disabled:focus-visible,
.favorites-checked:disabled:active,
.favorites-checked.disabled:active {
  color: #ffffff;
  background-color: #e5e5e5;
}


.card-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

.card-rating-list {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 140px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-rating-item {
  width: 18px;
  height: 18px;
  background-image: url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-size: 18px 17px;
  background-position: center;
}

.card-rating-text {
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}


.pagination {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 50px;
  list-style-type: none;
}

.pagination-item {
  margin-bottom: 8px;
  width: min-content;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  min-width: 60px;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus-visible,
.pagination-link-current:active {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
}

.pagination-dots {
  font-size: 22px;
  line-height: 26px;
}

.pagination-dots,
.pagination-dots:hover,
.pagination-dots:focus-visible,
.pagination-dots:active {
  padding: 17px 22px;
  color: #000000;
  background-color: #ffffff;
}

.modal-container {
  font-family: "PT Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 717px;
}

.modal-button-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 19px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-button-close:hover {
  background-color: #e6e6e6;
}

.modal-button-close:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-button-close:active svg {
  fill: hsla(0, 0%, 0%, 0.3);
}

.modal-button-close:active {
  background-color: #e6e6e6;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.form-search {
  display: grid;
  grid-template-columns: 137px 110px 88px 131px 111px;
  row-gap: 23px;
}

.form-search .field-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 440px;
  row-gap: 5px;
  grid-column: 1/-1;
  margin: 0;
  align-items: center;
}

.form-search .form-search-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}

.form-search .form-search-label-kids {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}

.form-search-input {
  position: relative;
  padding: 12px 20px 11px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.form-search .input-date {
  padding-right: 50px;
  background-image: url("../images/svg/calendar.svg ");
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.form-search .input-date::placeholder {
  opacity: 0.6;
}

.form-search .input-date:hover,
.form-search .input-date:focus-visible {
  color: hsla(0, 0%, 0%, 0.6);
  background-color: #e6e6e6;
}

.form-search .input-date:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-message {
  grid-column: 2/3;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.modal-message-error {
  color: #ff5757;
}

.form-search .field-group-count {
  grid-template-columns: 137px 110px 88px 131px 110px;
}

.form-search-option-adults {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 110px;
  align-items: center;
}

.form-search-option-kids {
  grid-column: 4/6;
  display: grid;
  grid-template-columns: 1fr 110px;
  align-items: center;
}

.form-search-label-kids {
  word-break: break-all;
  max-width: 50px;
  display: inline-block;
}

.form-search-option-adults .count-container {
  grid-column: 2/3;
}

.count-container {
  display: flex;
}

.count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.count-button svg {
  border-radius: 3px;
  fill: #756157;
  fill-opacity: 0.3;
}

.count-button-minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.count-button-plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.count-button:hover svg,
.count-button:focus-visible svg {
  fill: #000000;
  fill-opacity: 1;
}

.count-button:focus-visible svg {
  outline: 3px solid #82b3d3;
  outline-offset: 3px;
}

.count-button:active svg {
  fill: #000000;
  fill-opacity: 0.2;
}

.input-count {
  width: 31px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-radius: 0;
  appearance: textfield;
}

.input-count::-webkit-outer-spin-button,
.input-count::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}


.form-label-icon {
  position: relative;
  padding-right: 26px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
  border-radius: 50%;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  fill: #83b3d3;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  display: none;
  width: 256px;
  margin-top: 15px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #333333;
  text-transform: none;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/svg/tooltip-arrow.svg");
}

.form-search-button {
  grid-column: 1/-1;
  margin-top: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
}

.form-search-button:hover {
  background-color: #68a2ca;
}

.form-search-button:focus-visible {
  background-color: #68a2ca;
}

.form-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}
