@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.body{
  min-width: 1280px;
  height: 100%;
  margin: 0 auto;

	font-family:"PT Sans", sans-serif;
  font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	background-color: #ffffff;
  
}

.page-header {
  color: #000000;

}
.navigation-link {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;

}

.notification-badge{
font-size: 10px;
line-height: 10px;
text-align: center;
color: #ffffff;
}

.button{
display: inline-block;
font-family: "PT Sans", sans-serif;
font-style: normal;
font-size: 16px;
line-height: 20px;
font-weight: 700;
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
word-break: break-all;
background-color: #756157;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
  }

.button-header {
  max-width: 165px;
  padding: 8px 34px;
}

.hero{
 background-color: #756157;
 background-image: url("../images/background/index-background.jpg"), url("../images/svg/collar.svg");
 background-position:center, center;
  background-size: cover, 100% auto;
  background-repeat: no-repeat, no-repeat;
}


.lead{
font-family: "PT Sans", sans-serif;
font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.lead-top{
font-family: "PT Sans", sans-serif;
font-size: 22px;
  line-height: 26px;

  text-align: center;
  color: #333333;
  background-color: #ffffff;
}


.h3 {font-size: 24px;
line-height: 28px;
text-transform: uppercase;
color:#000000;
}

.advantages-list {
  text-align: center;
  color:#000000;
}


.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.advantages-item{
	font-size: 18px;
line-height: 21px;
color:#333333;
background-color:rgba(131,179,211,0.12);
}

.advantages-item-wide{
  background-color:#82B3D3;
  color:#ffffff;

}
.advantages-item-three {
	background-color:rgba(131,179,211,0.20);
}

.infrastructure-list{
text-align: center;
}

.infrastructure-item{
font-size: 18px;
line-height: 21px;
color:#000000;
background-color:rgba(131,179,211,0.12);
}


.infrastructure-one{
	background-color:#ffffff;
}

.infrastructure-title{
font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.infrastructure-description{
  color:#333333;
}
.search-title{
font-family: "PT Sans", sans-serif;
font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}
.search-button{
font-size: 20px;
line-height: 36px;
text-align: center;
}

.search-descreption{
font-family: "PT Sans", sans-serif;
font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

 .subscribe-theme-custom{
  	background-color: #756157;
 background-image: url("../images/background/view-mountains.jpg");
 background-position:center;
 background-size: 100% auto;
  background-repeat: no-repeat;
  color:#ffffff;
 text-align: center;
  }

.subscribe{
  font-family: "PT Sans", sans-serif;
  color:#000000;
 text-align: center;
  }
  .subscribe-title{
  	font-family: "PT Sans", sans-serif;
font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  }

 .subscribe-title-top{
 font-family: "PT Sans", sans-serif;
font-size: 22px;
line-height: 26px;
 }

.subscribe-form{
font-family: "PT Sans", sans-serif;

}
.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  padding: 8px 50px;
  background-color: #82b3d3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-footer{
  color:#000000;
  background-color: #ffffff;
}
.footer-phone-link{
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}


/*catalog*/

.inner-container{
background-color: #756157;
background-image: url("../images/background/mountains-are-a-blur.jpg");
background-position:center;
background-size: cover;
background-repeat: no-repeat;
color:#ffffff;

}

.inner-header-title{
font-family: "PT Sans", sans-serif;
font-size: 60px;
line-height: 78px;
font-weight: 700;
color: #ffffff;
}

.breadcrumbs{
  font-family: "PT Sans", sans-serif;
  align-items: center;
  color: #ffffff;
}

.breadcrumbs-link {
font-size: 16px;
line-height: 21px;
color: #ffffff;
text-decoration: none;
}

.catalog-filter-title{
font-size: 20px;
line-height: 24px;
font-weight: 700;
}

.catalog-filter-submit{
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height:20px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
background-color: #82b3d3;
}

.catalog-filter-reset{
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height:20px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
background-color: transparent;
}

.catalog-filter-item{
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height:23px;
color: #ffffff;
}

.catalog-products{
font-family: "PT Sans", sans-serif;
}

.catalog-products-title{
font-size: 30px;
line-height:36px;
font-weight: 700;
text-transform: uppercase;
}

.pagination{
font-family: "PT Sans", sans-serif;
font-size: 20px;
line-height:36px;
font-weight: 700;
text-align: center;
}

.product-card-link{
font-size: 24px;
line-height:28px;
font-weight: 700;
color:#000000;
text-decoration: none;
}

.product-card-type{
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height:21px;
font-weight: 400;
}

.product-card-price{
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height:21px;
}
.product-card-button-link{
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height:20px;
font-weight: 700;
color:#ffffff;
background-color: #756157;
text-transform: uppercase;
text-decoration: none;
text-align: center;
}

.add-favorite-button{
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height:20px;
font-weight: 700;
background-color: #7CAFD1;
text-align: center;
}


.favorite-button{
  font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height:20px;
font-weight: 700;
background-color: #6C9E42;
text-align: center;
}


.product-card-rating{
font-family: "PT Sans", sans-serif;
font-size: 16px;
line-height:20px;
color:#333333;
text-transform: uppercase;
}

.select-control{
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height:21px;
color:#333333;
}

.pagination-link{
  align-items: center;
  min-height: 60px;
  min-width: 60px;
  padding: 12px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;

}